<div class="row">
  <div class="col-xs-12">
    <%= render 'refinery/shared/breadcrumbs' %>
    <%= render 'refinery/shared/second_level_nav' %>
  </div>
</div>
<div class="row show__content">
  <div class="col-xs-12">
  <% if !@page.parent.nil? %><h2 class="show__content__heading"><%= @page.title %></h2><% end %>
  <% if @items.any? %>
    <% @items.each do |item| %>
      <article class="news_item_truncated">
        <h2><%= link_to item.title, refinery.news_item_path(item) %><br/>
        <small><%= t('.published') %> <%= l(item.publish_date, :format => :short) %></small>
        </h2>
        <%= truncate  item.body, :length => 200,
                      :omission => " ... #{link_to t('.read_more'), refinery.news_item_path(item)}",
                      :preserve_html_tags => true %>
      </article>
      <hr/>
    <% end %>
    <%= will_paginate @items %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
  </div>
</div>
